.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label{
  display: block;
  font: 400 1.6rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea, .form select, .acept-terms input {
  font: 400 1.6rem/1.5 "Roboto", sans-serif;
  background: var(--color-1);
  border: 1px solid var(--color-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus, .form select:focus{
  outline: none;
  border-color: var(--color-p1);
  background: var(--color-0);
  box-shadow: 0 0 0 2px #fea;
}
.form .col-2 {
  grid-column: span 2;
}

.acept-terms {
  grid-row: 9;
  grid-column: -1 / 1;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
}

.acept-terms input {
  width: 18px;
  height: 18px;
}

.acept-terms label > a {
  text-decoration: underline;

}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .col-2 {
    grid-column: 1;
  }
}